<div class="footer">
    <div class="footer2">
        <h4>Recuperação Juducial</h4>
        <h4>Sobre a Oi</h4>
        <h4>Lojas da Oi</h4>
        <h4>Atendimento ao cliente</h4>
        <icon class="icon-footer">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <button class="btn btn-success rounded-pill">Oi de A a Z</button>
        </icon>
    </div>
</div>