<div class="footer">
    <div class="footer2">
        <p>Recuperação Juducial</p>
        <p>Sobre a Oi</p>
        <p>Lojas da Oi</p>
        <p>Atendimento ao cliente</p>
        <icon class="icon-footer">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <button id="pagina-inicial" class="btn btn-success rounded-pill">Oi de A a Z</button>
        </icon>
    </div>
</div>