<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/input.css" />
</head>
<body>
    <form class="d-flex center">
        <icon><img src="https://i.postimg.cc/VkxDgr1H/busca.png" height="35px"/></icon>
        <input class="form-control me-2" type="search" placeholder="Busca" aria-label="Search">
    </form>
</body>
</html>
